.homeContainer {
  padding: 30px;
}

/* Top right upload button */
.homeHeader {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.uploadButton {
  padding: 10px 20px;
  cursor: pointer;
   background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* FLEX GRID */
.videoGrid {
  display: flex;
  flex-wrap: wrap;      /* allows wrapping to next row */
  gap: 20px;            /* spacing between cards */
}

/* Individual card */
.videoCard {
  width: 250px;         /* fixed width */
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.videoCard:hover {
  transform: scale(1.02);
}

/* Thumbnail */
.thumbnail video {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.videoInfo {
  margin-top: 10px;
}
