.homeContainer {
  padding: 30px;
}

.homeHeader {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.uploadButton {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.LogoutButton{
   padding: 10px 20px;
  cursor: pointer;
  background-color: #f04806;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 1rem;
}

.videoGrid {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.videoCard {
  flex: 0 0 calc(50% - 10px);
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.videoCard:hover {
  transform: scale(1.02);
}

.thumbnail video {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.videoInfo {
  margin-top: 10px;
}
